.call_btn_wrapper {
  font-weight: 700;
  cursor: pointer;
  color: var(--color-emerald-900);
  border: 1px solid var(--color-stone-50);
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 7);
  border-radius: calc(infinity * 1px);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.315);
  background-color: var(--color-stone-50);
}
.call_btn_wrapper:hover {
  background: transparent;
  color: var(--color-stone-50);
}

@media screen and (max-width: 998px) {
  .call_btn_wrapper {
    margin-right: calc(var(--spacing) * 5);
    font-size: var(--text-sm);
  }
}
