.header_fixed {
  position: fixed;
  z-index: 95;
  width: 100%;
  transition: all 350ms;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.55);
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 6);
}
@media screen and (max-width: 576px) {
  .header_fixed {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 6);
  }
}
.scrolled {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  /* background: var(--color-emerald-50); */
  background-color: #fdfdfd;
}
/* @media screen and (max-width: 998px) {
} */

.header_fixed:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
