.top_header_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top_header_logo {
  width: auto;
  display: flex;
  margin-right: auto;
  align-items: center;
}
.top_header_motto {
  font-weight: 600;
  font-size: var(--text-xl);
  line-height: calc(1.75 / 1.25);
  color: var(--color-stone-50);
  margin-left: calc(var(--spacing) * 8);
}
.scrolled .top_header_motto {
  color: var(--color-emerald-700);
}
.top_header_phone_number {
  width: calc(var(--spacing) * 40);
  display: block;
  font-weight: 600;
  color: var(--color-emerald-50);
}
.scrolled .top_header_phone_number {
  color: var(--color-emerald-700);
}

.top_header_phone_number a:hover {
  color: var(--color-teal-400);
}
.top_header_social_links {
  display: flex;
}
.top_header_social_link {
  color: #d47b67;
  padding: calc(var(--spacing) * 3);
  border: 1px solid #d47b67;
  font-size: var(--text-xl);
  width: 50px;
  height: 50px;
  margin-right: calc(var(--spacing) * 2);
}
.top_header_social_link:nth-last-child(1) {
  border-color: #4caf50;
}
.top_header_social_link:nth-last-child(1):hover {
  background-color: var(--color-green-500);
}
.top_header_social_link:nth-last-child(2) {
  border-color: #3b5998;
}
.top_header_social_link:nth-last-child(2):hover {
  background-color: var(--color-cyan-500);
}
.top_header_social_link:hover {
  background-color: #fdcbbf;
}

.lang_btns {
  display: flex;
  gap: 5px;
  font-size: var(--text-base);
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
}
.lang_btns button:hover {
  cursor: pointer;
  color: var(--color-emerald-500);
}
/* .instagram_icon {
  width: 50px;
  height: 50px;
} */
/* .instagram_icon:hover {
  background-color: #fff;
} */

.scrolled .call_btn_wrapper {
  color: var(--color-stone-50);
  background-color: var(--color-green-700);
  border-color: var(--color-green-700);
}
.scrolled .call_btn_wrapper:hover {
  background-color: var(--color-green-800);
}

.logo_link img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.sidemenu_wrapper {
  position: absolute;
  left: 100%;
  z-index: 50;
  transition: all cubic-bezier(0.66, -0.03, 0.31, 1.02);
  transition-duration: 500ms;
  top: calc(var(--spacing) * 11);
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  /* background-color: color-mix(
    in oklab,
    var(--color-stone-950) 80%,
    transparent
  ); */
  /* padding-top: calc(var(--spacing) * 8); */
}
.sidemenu_nav_items {
  background-color: #fdfdfd;
  width: calc(var(--spacing) * 60);
  /* margin: auto; */
  margin-left: auto;
  padding: calc(var(--spacing) * 8) 0;
  /* border-radius: calc(var(--spacing) * 4); */
  position: relative;
  z-index: 15;
}
.sidemenu_wrapper .navlink_item_btn_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sidemenu_wrapper .navlink_item_btn_wrapper button {
  color: var(--color-emerald-900);
  pointer-events: none;
  padding: 0;
}
.sidemenu_wrapper .navlink_dropmenu {
  padding-left: calc(var(--spacing) * 16);
}
.sidemenu_nav_items a {
  color: var(--color-emerald-900);
}
.sidemenu_nav_items a span {
  bottom: 15px;
}
.open_menu {
  left: 0;
}
.scrolled .nav-icon-item {
  background-color: var(--color-emerald-700);
}
@media screen and (max-width: 980px) {
  .top_header_logo {
    width: auto;
  }
  .top_header_motto {
    font-size: var(--text-base);
    line-height: calc(1.5 / 1);
    margin-left: 10px;
  }
  .top_header_phone_number {
    display: none;
  }
  .top_header_social_links {
    display: none;
  }
}

@media screen and (max-width: 676px) {
  .top_header_container .call_btn_wrapper {
    display: none;
  }
  /* .sidemenu_wrapper {
    margin-top: 40px;
  } */
  .top_header_logo {
    width: auto;
  }
  .top_header_motto {
    width: 50%;
    line-height: calc(1.5 / 1);
    margin-left: calc(var(--spacing) * 4);
  }
}
