.testimonials_container {
  background-color: var(--color-stone-100);
  padding-bottom: calc(var(--spacing) * 20);
}
.testimonials_items {
  max-width: 42rem;
  margin: auto;
}

.testimonials_item {
  /* background-color: var(--color-gray-50); */
  padding: calc(var(--spacing) * 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials_item_icon {
  color: var(--color-green-600);
  font-size: var(--text-3xl);
  margin-bottom: calc(var(--spacing) * 4);
}
.testimonials_item p {
  color: var(--color-gray-500);
  font-style: italic;
}
.testimonials_item h3 {
  font-size: var(--text-xl);
  font-weight: 500;
  margin-top: calc(var(--spacing) * 4);
  color: var(--color-gray-700);
}

.testimonials_items .slick-slider {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.2), 0 2px 4px -2px rgb(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-top: calc(var(--spacing) * 10);
}

.testimonials_items .slick-slider .slick-dots {
  bottom: -35px;
}

.testimonials_items .slick-slider .slick-arrow {
  display: none;
  opacity: 0;
}
